{% extends "base.html" %}
{% load i18n %}

{% block content %}

 <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
            <form method="post" action=".">
              {% csrf_token %}
              <div class="form-group">
                {% for field in form %}
                  <div class="input-group">
                      <span class="input-group-addon" style=""><span class="glyphicon glyphicon-envelope"></span>
                      <label>Email Address</label>
                        </span>
                    <input class="form-control" id="{{ field.id_for_label }}" maxlength="100" name="{{ field.html_name }}" value="" type="text" />
                  </div>
              </div>
              <div class="form-group">
                  <div class="alert"> {{ field.errors }}</div>
              </div>
              {% endfor %}
              <div class="form-group">
                <input id="button1" class="btn btn-info" type="submit" value="{% trans 'Reset Password' %}" />
              </div>
              <div class="form-group">
                   <script src='https://www.google.com/recaptcha/api.js'></script>
                   <div class="g-recaptcha" data-sitekey="6Ldlw1kUAAAAACo2CDBrK09zPoSSNAK-00_Ql-Md" data-callback="enableBtn"></div>
               </div>



            </form>
          </div>
      </div>
</div>
<script>

  document.getElementById("button1").disabled = true;

  function enableBtn(){
      document.getElementById("button1").disabled = false;
  }

</script>
{% endblock %}
