{% extends "base.html" %}
{% load i18n %}

{% block content %}

< <div class="modal-dialog">
      <div class="modal-content">
              <div class="modal-body">
{% if validlink %}

<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input class="btn btn-info" type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

                  <div class="alert alert-danger">{% trans "Password reset failed" %}</div>

{% endif %}
              </div>
      </div>
</div>

{% endblock %}
