{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}

<script>
     var callbackupvote = function(data) {
        $.ajax({
            url: '?u=' + data.upvoted + '&d=' + data.upvoted,
            type: 'post',
            data: { id: data.id,
                    up: data.upvoted,
                    down: data.downvoted,
                    star: data.starred,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                   }
        });
    };

 </script>

 <div class="panel panel-primary" style="margin:10px auto">
    <div class="panel-heading" align="center"><h4>{{venue_name}}</h4></div>
     <div class="panel-body">

         {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
         {% endif %}
        <div>

            <form method="GET" action="{% url 'adddrinks' %}" class="form">
              {% csrf_token %}
                <input class="form-control" type="hidden" name="venue_id" id="venue_id" value="{{venue_id}}"/>

                {% if request.session.user_reputation > 9 %}
                <div class="form-group">
                    <dt><input id="btn_add" name="btn_add" class="btn btn-info" type="submit" value="Add New Drink"/></dt>
                </div>
                {% endif %}

            </form>


        {% render_table table %}


    </div>
</div>

{% endblock %}