{% extends 'base.html' %}

{% block content %}


 <div class="panel panel-info" style="max-width: 800px ;margin:10px auto">
                    {% if request.session.user_reputation > 9 %}
                       <div class="panel-heading" align="center"><h4>Edit Drink for {{venue_name}}</h4></div>
                    {% else %}
                        <div class="panel-heading" align="center"><h4>Show Drink</h4></div>
                    {% endif %}
                        <div class="panel-body">

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <!--{% for error in form.non_field_errors %}-->
        <!--<div class="alert alert-danger">-->
            <!--<strong>{{ error|escape }}</strong>-->
        <!--</div>-->
    <!--{% endfor %}-->
    {% endif %}

<form id="editdrinks" method="post" action="" class="form">
  {% csrf_token %}

      <div class="form-group">
        <label>Drink Name:</label>
           <input class="form-control" type="text" name="drink_name" id="drink_name" value="{{drink_form.drink_name}}" readonly/>

      </div>


     <div class="form-group">
        <label>Price:</label>
         <input class="form-control" name="price" id="price" type="number" step="0.01" value="{{drink_form.price}}" {% if request.session.user_reputation < 10 %}readonly{% endif %}/>
      </div>

      <div class="form-group">
          <label for="drink_size">Size:</label>
          <select class="form-control" id="drink_size" name="drink_size" readonly>
            <option {% if drink_form.drink_size == 'Pint' %}selected{% endif %}>Pint</option>
            <option {% if drink_form.drink_size == 'Middy' %}selected{% endif %}>Middy</option>
            <option {% if drink_form.drink_size == 'Schooner' %}selected{% endif %}>Schooner</option>
            <option {% if drink_form.drink_size == 'Glass' %}selected{% endif %}>Glass</option>
          </select>
      </div>


    <div class="form-group">
        <label>Happy Hour Price:</label>
           <input class="form-control" type="text" name="hh_price" id="hh_price" value="{% if drink_form.hh_price == None or drink_form.hh_price == 0.00%}{% else %}{{drink_form.hh_price}}{% endif %}" {% if request.session.user_reputation < 10 %}readonly{% endif %}/>
     </div>

     <div class="form-group">
          <label for="hh_days">Happy Hour Days:</label>
          <select class="form-control" id="hh_days" name="hh_days" {% if request.session.user_reputation < 10 %}readonly{% endif %}>
            <option {% if drink_form.hh_days == None %}selected{% endif %}></option>
            <option {% if drink_form.hh_days == 'Monday' %}selected{% endif %}>Monday</option>
            <option {% if drink_form.hh_days == 'Tuesday' %}selected{% endif %}>Tuesday</option>
            <option {% if drink_form.hh_days == 'Wednesday' %}selected{% endif %}>Wednesday</option>
            <option {% if drink_form.hh_days == 'Thursday' %}selected{% endif %}>Thursday</option>
            <option {% if drink_form.hh_days == 'Friday' %}selected{% endif %}>Friday</option>
            <option {% if drink_form.hh_days == 'Saturday' %}selected{% endif %}>Saturday</option>
            <option {% if drink_form.hh_days == 'Sunday' %}selected{% endif %}>Sunday</option>
            <option {% if drink_form.hh_days == 'Mon - Fri' %}selected{% endif %}>Mon - Fri</option>
            <option {% if drink_form.hh_days == 'Sat - Sun' %}selected{% endif %}>Sat - Sun</option>
          </select>
      </div>

     <div class="form-group">
          <label for="hh_time_start">Happy Hour Start Time:</label>
          <select class="form-control" id="hh_time_start" name="hh_time_start" {% if request.session.user_reputation < 10 %}readonly{% endif %}>
            <option {% if drink_form.hh_time_start == None %}selected{% endif %}></option>
            <option {% if drink_form.hh_time_start == '3pm' %}selected{% endif %}>3pm</option>
            <option {% if drink_form.hh_time_start == '4pm' %}selected{% endif %}>4pm</option>
            <option {% if drink_form.hh_time_start == '5pm' %}selected{% endif %}>5pm</option>
            <option {% if drink_form.hh_time_start == '6pm' %}selected{% endif %}>6pm</option>
            <option {% if drink_form.hh_time_start == '7pm' %}selected{% endif %}>7pm</option>
            <option {% if drink_form.hh_time_start == '8pm' %}selected{% endif %}>8pm</option>
            <option {% if drink_form.hh_time_start == '9pm' %}selected{% endif %}>9pm</option>
            <option {% if drink_form.hh_time_start == '10pm' %}selected{% endif %}>10pm</option>
            <option {% if drink_form.hh_time_start == '11pm' %}selected{% endif %}>11pm</option>
            <option {% if drink_form.hh_time_start == '12pm' %}selected{% endif %}>12pm</option>
          </select>
      </div>

     <div class="form-group">
          <label for="hh_time_end">Happy Hour End Time:</label>
          <select class="form-control" id="hh_time_end" name="hh_time_end" {% if request.session.user_reputation < 10 %}readonly{% endif %}>
            <option {% if drink_form.hh_time_end == None %}selected{% endif %}></option>
            <option {% if drink_form.hh_time_end == '3pm' %}selected{% endif %}>3pm</option>
            <option {% if drink_form.hh_time_end == '4pm' %}selected{% endif %}>4pm</option>
            <option {% if drink_form.hh_time_end == '5pm' %}selected{% endif %}>5pm</option>
            <option {% if drink_form.hh_time_end == '6pm' %}selected{% endif %}>6pm</option>
            <option {% if drink_form.hh_time_end == '7pm' %}selected{% endif %}>7pm</option>
            <option {% if drink_form.hh_time_end == '8pm' %}selected{% endif %}>8pm</option>
            <option {% if drink_form.hh_time_end == '9pm' %}selected{% endif %}>9pm</option>
            <option {% if drink_form.hh_time_end == '10pm' %}selected{% endif %}>10pm</option>
            <option {% if drink_form.hh_time_end == '11pm' %}selected{% endif %}>11pm</option>
            <option {% if drink_form.hh_time_end == '12pm' %}selected{% endif %}>12pm</option>
      </div>



    <input type="hidden" name="venue_id" id="venue_id" value="{{drink_form.venue_id}}"/>
    {% if request.session.user_reputation > 9 %}
    <hr>
    <div class="form-group">
        <dt><input id="btn_add" name="btn_add" class="btn btn-info" type="submit" value="Edit Drink"/></dt>
    </div>
    {% endif %}


</form>




</div>
</div>



<script>
$( document ).ready(function() {

     Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-top',
                theme: 'flat'
            }


     $('#btn_add').click(function(){
	    msg = Messenger().post({
              message: "Successfully edited drink " + document.getElementById('drink_name').value,
              type: 'success',
              hideAfter: 3,
              showCloseButton: true,
           });
      });

      <!--$('#editdrinks').validate({-->

         <!--rules: {-->
             <!--hh_days: {-->
                 <!--required: {-->
                     <!--depends: function(element){-->
                         <!--return $("#hh_price").val()!=""-->
                     <!--}-->
                 <!--}-->
             <!--},-->
             <!--hh_time_start: {-->
                 <!--required: {-->
                     <!--depends: function(element){-->
                         <!--return $("#hh_days").val()!=""-->
                     <!--}-->
                 <!--}-->
             <!--},-->
             <!--hh_time_end: {-->
                 <!--required: {-->
                     <!--depends: function(element){-->
                         <!--return $("#hh_time_start").val()!=""-->
                     <!--}-->
                 <!--}-->
             <!--}-->
         <!--}-->

     <!--});-->
});



    </script>





{% endblock %}