{% load render_table from django_tables2 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.css" %}'>
        <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/font-awesome.min.css" %}'>
    </head>
    <body>
        <div class="container">

        <div class="panel panel-info">
            <table class="table table=responsive table-hover" id="exam">
              {% for exam in list_exams %}
              <tr>
                <td>{{ exam.merchant_id }}</td>
                <td>{{ exam.trx_date }}</td>
                <td>{{ exam.order_number }}</td>
                <td>{{ exam.summary_code }}</td>
                <td>{{ exam.response_code }}</td>
                <td>{{ exam.response_message }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>

            {% if is_paginated %}
            <div align="center">


                <ul class="pagination pagination-centered">

                    {% if page_obj.has_previous %}
                        <li><a id="first" href="?page={{ 1 }}">First</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="disabled"><a id="first" href="?page={{ 1 }}">First</a></li>
                        <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                        <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                        <li><a id="last" href="?page={{ paginator.num_pages }}">Last</a></li>
                    {% else %}
                        <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                        <li class="disabled"><a id="last" href="?page={{ paginator.num_pages }}">Last</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            </div>

        </div>
    </body>
</html>
