{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.css" %}'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% crispy form %}
            </div>
             <div class="row">
                {% crispy form %}
                 <div class="panel panel-info">
                  <div class="panel-heading"><h4>This Month's Transaction Totals</h4></div>
                     <div class="panel-body">

                        {% render_table table %}

                     </div>
                 </div>
             </div>
            </div>
        </div>
    </body>
</html>
